<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>

    <link href="http://localhost:5000/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="http://localhost:5000/assets/css/admindashboard.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="http://localhost:5000/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
  
    <!-- Custom Styles-->
    <link href="http://localhost:5000/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
      



</head>
<body>
    {{{body}}}
</body><script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://localhost:5000/assets/js/custom-scripts.js"></script>
<script src="http://localhost:5000/js/addpost.js"></script>
<script src="http://localhost:5000/js/viewpost.js"></script>
<script src="http://localhost:5000/js/editpost.js"></script>

<script src="http://localhost:5000/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="http://localhost:5000/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="http://localhost:5000/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="http://localhost:5000/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="http://localhost:5000/assets/js/morris/morris.js"></script>


<script src="http://localhost:5000/assets/js/easypiechart.js"></script>
<script src="http://localhost:5000/assets/js/easypiechart-data.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Custom Js -->

</html>
