

  

 <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">

                <h1>Bitnare Admin Login</h1>
            </div>

            <!-- Login Form -->
            <form method="POST" id="loginform" >
                <input type="text"  class="fadeIn second" name="username" id="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" id="password" placeholder="password">
                {{!-- <input type="submit" class="fadeIn fourth" value="Log In"> --}}
                        <button type="submit" name="submit" id="submit" class="btn btn-primary" style="text-align: center;">login</button>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="login.html">Please enter your Credentials above !</a>
            </div>

        </div>
    </div>
